@import url(http://weloveiconfonts.com/api/?family=zocial);

[class*="zocial-"]:before {
  color: black;
  display: inline-block;
  font-family: 'zocial', sans-serif;
  font-size: 1.5em;
  text-shadow: 1px 1px 1px #aaa;
  width: 2.5em;
}

a:hover [class*="zocial-"]:before {
  color: #3d85c6;
}

#social {
  margin: 2em auto;
}

body {
  font-family: sans-serif;
  margin: 2em;
}

article {
  margin: 0 auto;
  max-width: 50em;
  border-bottom: 1px solid #ddd;
}

figcaption {
  font-size: 0.8em;
  color: #5E637E;
}

figure {
  margin: 1em 0;
}

h1 {
  margin: 0 auto;
  width: 800px;
}

img {
  max-width: 100%;
}
footer {
  margin: 0 auto;
  width: 800px;
}
