@import url(http://weloveiconfonts.com/api/?family=zocial);

[class*="zocial-"]:before {
  color: black;
  display: inline-block;
  font-family: 'zocial', sans-serif;
  font-size: 1.5em;
  text-shadow: 1px 1px 1px #aaa;
  width: 2.5em;
}

a:hover {
  color: #3d85c6;
}

#social {
  margin: 2em auto;
}

body {
  font-family: 'Roboto', sans-serif;
  text-align: justify;
  margin: 3vh 0 3vh 0;
}

article {
  margin: 0 auto;
  max-width: 50em;
  border-bottom: 1px solid #ddd;
  line-height: 1.5em;
}

figcaption {
  font-size: 0.8em;
  color: #5E637E;
}

figure {
  margin: 1em 0;
}

h1 {
  margin: 1em auto;
  width: 800px;
  font-weight: 300;
}

h2 {
  font-weight: 500;
}

img {
  max-width: 100%;
}

footer {
  width: 800px;
  margin: 0 auto;
  text-align: center;
}
